package views

templ Login() {
	<div class="container">
		<form hx-post="/api/login" hx-redirect="/events">
			<label for="email">Email</label>
			<input id="email" name="email"/>
			<label for="password">Password</label>
			<input id="password" name="password" type="password"/>
			<button type="submit">Login</button>
		</form>
	</div>
}
