package views

templ Signup() {
	<div class="container">
		<form action="/api/signup" method="post">
			<label for="name">Name</label>
			<input id="name" name="name"/>
			<label for="role">Role</label>
			<input id="role" name="role"/>
			<label for="email">Email</label>
			<input id="email" name="email" type="email"/>
			<label for="password">Password</label>
			<input id="password" name="password" type="password"/>
			<button type="submit">Sign Up</button>
		</form>
	</div>
}
