{{template "layout/header" .}}
<div class="container">
  <h1 style="margin-bottom: 20px">New Event</h1>
  <form hx-post="/api/event">
    <div>
      <label>Date</label>
      <input name="date" type="date" required />
    </div>
    <div>
      <label>Location</label>
      <select name="location" required>
        <option value="albertParkLake" selected>Albert Park Lake</option>
        <option value="southMelbourneBeach">South Melbourne Beach</option>
      </select>
    </div>
    <button type="submit">Create</button>
  </form>
  <h1 style="margin-bottom: 0px">Continue Event</h1>
  <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px">
    <article>
      <header>
        <hgroup>
          <h2>Albert Park Lake</h2>
          <h3>28th of November</h3>
        </hgroup>
      </header>
      <div style="display: flex; justify-content: center">
        <img
          src="https://www.onlymelbourne.com.au/image/ico-albertpark.jpg"
          style="width: 450px; height: 300px"
        />
      </div>
      <footer><button>Continue</button></footer>
    </article>
    <article>
      <header>
        <hgroup>
          <h2>South Melbourne Beach</h2>
          <h3>21st of November</h3>
        </hgroup>
      </header>
      <div style="display: flex; justify-content: center">
        <img
          src="https://images.myguide-cdn.com/melbourne/companies/port-melbourne-beach/large/port-melbourne-beach-33890.jpg"
          style="width: 450px; height: 300px"
        />
      </div>
      <footer><button>Continue</button></footer>
    </article>
  </div>
</div>
