<div class="container">
  <h1>Contact Us</h1>
  <form hx-post="/api/contact">
    <div>
      <label>First Name</label>
      <input placeholder="John" name="firstName" />
    </div>
    <div>
      <label>Last Name</label>
      <input placeholder="Smith" name="lastName" />
    </div>
    <div>
      <label>Email Address</label>
      <input placeholder="john.smith@email.com" name="emailAddress" />
    </div>
    <div>
      <label>Phone Number</label
      ><input placeholder="0412345678" name="phoneNumber" />
    </div>
    <div>
      <label>Subject</label>
      <select name="subject" id="pet-select">
        <option value="general">General Enquiry</option>
        <option value="sponsor">Sponsor Enquiry</option>
        <option value="fundraising">Fundraising Enquiry</option>
        <option value="advertising">Advertising Enquiry</option>
        <option value="runningTip">Running Tip</option>
      </select>
    </div>
    <div>
      <label>Comments</label>
      <textarea
        placeholder="Write your comment here"
        name="comments"
      ></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
