{{template "layout/header" .}}
<div class="container">
  <form hx-post="/api/participant/{{ .eventId }}" hx-swap="afterend">
    <div>
      <label>Bib</label>
      <input name="bib" type="number" step="1" required />
    </div>
    <div>
      <label>Name</label>
      <input name="name" type="text" required />
    </div>
    <div>
      <label>Distance</label>
      <input name="distance" type="number" value="5.0" step="0.5" required />
    </div>
    <button type="submit">Add</button>
  </form>
</div>
