<div class="container">
  <form
    hx-post="/api/participant/{{ .eventId }}"
    hx-target="#participants"
    hx-swap="afterbegin"
    hx-on::after-request="if(event.detail.successful) this.reset()"
  >
    <div>
      <label>Bib</label>
      <input name="bib" type="number" step="1" required />
    </div>
    <div>
      <label>Name</label>
      <input name="name" type="text" required />
    </div>
    <div>
      <label>Distance</label>
      <input name="distance" type="number" value="5.0" step="0.5" required />
    </div>
    <button type="submit">Add</button>
  </form>
  <a
    href="/timing/{{ .eventId }}"
    style="width: 100%; margin-bottom: 17px"
    role="button"
    >Start Timing</a
  >
  <table role="grid">
    <thead>
      <tr>
        <th>Bib</th>
        <th>Name</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody id="participants">
      {{range $val := .participants}}
      <tr>
        <td>{{ $val.Bib }}</td>
        <td>{{ $val.Name }}</td>
        <td>{{ $val.Distance }}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
