<nav class="container">
  <ul>
    <li>
      <strong>Run Club</strong>
    </li>
  </ul>
  <ul>
    <li>
      <a hx-get="/" hx-push-url="true" hx-target="#main" style="cursor: pointer"
        >Home</a
      >
    </li>
    <li>
      <a
        hx-get="/pastevents"
        hx-push-url="true"
        hx-target="#main"
        style="cursor: pointer"
        >Past Events</a
      >
    </li>
    <li>
      <a
        hx-get="/events"
        hx-push-url="true"
        hx-target="#main"
        style="cursor: pointer"
        >New Event</a
      >
    </li>
    <li>
      <a
        hx-get="/faq"
        hx-push-url="true"
        hx-target="#main"
        style="cursor: pointer"
        >FAQ</a
      >
    </li>
    <li>
      <a
        hx-get="/contact"
        hx-push-url="true"
        hx-target="#main"
        style="cursor: pointer"
        >Contact</a
      >
    </li>
    <li>
      <a
        hx-get="/login"
        hx-push-url="true"
        hx-target="#main"
        style="cursor: pointer"
        >Login</a
      >
    </li>
  </ul>
</nav>
