<div class="container">
  <h1>Past Events</h1>
  <form
    hx-trigger="change"
    hx-get="/api/participant/date"
    hx-target="#participants"
    hx-swap="innerHTML"
  >
    <label>Date</label>
    <input name="date" type="date" value="{{ .today }}" />
  </form>
  <table role="grid">
    <thead>
      <tr>
        <th>Bib</th>
        <th>Name</th>
        <th>Distance</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody id="participants">
      {{range $val := .participants}}
      <tr>
        <td>{{ $val.Bib }}</td>
        <td>{{ $val.Name }}</td>
        <td>{{ $val.Distance }}</td>
        <td style="font-family: 'Roboto Mono', monospace">
          {{ .FormatTime $val.Time }}
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
