<div class="container">
  <hgroup>
    <h1>Welcome to Run Club!</h1>
    <h2>Let's get your club ready! We just need a few details</h2>
  </hgroup>
  <form>
    <div>
      <label>Your Club's Name</label>
      <input placeholder="My Running Club" />
    </div>
    <div>
      <label>Your Full Name </label>
      <input placeholder="John Smith" />
    </div>
    <div>
      <label>Your Email Address</label>
      <input placeholder="john.smith@email.com" />
    </div>
    <button type="submit">Create Club</button>
  </form>
</div>
